<header class="header">
  <img src="/img/logo-horizontal.png" class="logo">
</header>

<section class="hero">
  <img src="/img/logo-vertical.png" class="logo-hero">
  <h1>Apolo Joyería</h1>
  <p>Diseños exclusivos</p>
  <a href="#productos" class="btn">Ver catálogo</a>
</section>

<section id="productos" class="productos">
  <h2>Catálogo</h2>

  <div id="lista-productos">
    {% for producto in collections.productos %}
    <div class="producto">
      <img src="{{ producto.data.imagen }}">
      <div class="info">
        <h3>{{ producto.data.nombre }}</h3>
        <p class="precio">${{ producto.data.precio }}</p>
        <p class="material">{{ producto.data.material }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>