body {
  background: #0A0A0A;
  color: white;
  font-family: Arial;
  text-align: center;
}

.hero {
  padding: 50px;
}

#lista-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.producto {
  background: #111;
  padding: 20px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  padding: 15px;
  border-radius: 50%;
}